<div class="container">
    <h1 class="display-4"><img src="../../assets/school.svg" alt="education icon" width="70px"  /> Education</h1><hr>
    <h2 class="display-6">Southern Alberta Institute of Techonology</h2>
    <h3 class="lead">Calgary, Alberta</h3>
    <h3 class="lead">2019-2021</h3>
    <h3 class="lead">Information Technology, Software Development Diploma</h3>
    <h2 class="display-6">University of Calgary</h2>
    <h3 class="lead">Calgary, Alberta</h3>
    <h3 class="lead">2014-2019</h3>
    <h3 class="lead">Bachelor of Science, Biochemistry</h3>   
</div>
