<div class="container">
    <footer>
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col"><a href="mailto:jeanlomibao18@gmail.com"><img src="../../assets/mail.png"
                        alt="mail logo"></a></div>
            <div class="col"><a href="https://www.linkedin.com/in/jeanlomibao/"><img src="../../assets/linkedin.png"
                        alt="linkedin logo" /></a></div>
            <div class="col"><a href="https://github.com/jlomibao1995"><img src="../../assets/github.png"
                        alt="github logo"></a></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><p lead>&copy; 2021 Jean Lomibao</p></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        
    </footer>
</div>