<div class="container">
  <h1 class="display-4"><img src="../../assets/facep.svg" alt="face icon" width="70px" /> About Me</h1>
  <hr>
  <div class="row">
    <div class="col"><img src="../../assets/aboutme.jpg" alt="jean" /></div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="display-5">Hello, I am Jean Lomibao</h3>
      <p class="lead">I recently finished my diploma in Software Development at SAIT and currently seeking
        work experience in the industry. I have experience programming in the front end and back end
        web development and would like to eventually gain experience in Android development.
        I started out studying Biochemistry but found my passion in software development. I have
        passion for learning and an eagerness to apply my knowledge in the real world. </p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <a href="/home#education" class="next-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
          class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
        </svg>
      </a>
    </div>
  </div>
</div>