<div class="container my-5">
  <div data-aos="fade-up">
    <h1 class="display-4"><img src="../../assets/facep.svg" class="img-fluid" alt="face icon" width="70px" /> About Me
    </h1>
  </div>
  <hr>
  <div class="row my-4">
    <div class="col">
      <span class="material-icons">
        code
        </span>
    </div>
  </div>

  <div class="row m-3">
    <div class="col" data-aos="fade-right" data-aos-duration="1500">
      <img src="../../assets/aboutme.jpg" alt="jean" />
    </div>
    <div class="col-md m-3" data-aos="fade-left" data-aos-duration="1500">
      <h3 class="display-5">Hello, I am Jean</h3>
      <p class="lead">
        I recently finished my diploma in Software Development at SAIT and currently seeking
        work experience in the industry. I started out studying Biochemistry, eventually, my passion and eagerness
        for learning set my path towards software development. I have done some programming in both front end and back end
        while working on my group's <a href="/parklandpreschoolproject">Capstone Project</a>. In the future I hope to
        acquire more knowledge and skills that I can apply to become a better software developer. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-auto">
      <span class="material-icons">
        code
        </span>
    </div>
  </div>
</div>