img {
    max-width: 100%;

}

div.container {
    background: url(../../assets/aboutme.svg);
    background-size: cover;
    background-position: center center;
    height: fit-content;
}

div.col-sm-3 {
    background-color: rgba(229, 227, 241, 0.973);
}