<div class="container">
    <h1 class="display-4"><img src="../../assets/facep.svg" alt="face icon" width="70px"  /> About Me</h1><hr>
    <div class="row">
        <div class="col">
        </div>
      </div>
    <div class="row">
        <div class="col">
          <img src="../../assets/aboutme.jpg" alt="jean"/>
        </div>
        <div class="col">
            <h3 class="display-5">Hello, I am Jean Lomibao</h3>
          <p class="lead">I recently finished my diploma in Software Development at SAIT and currently seeking
            work experience in the industry. I have experience programming in the front end and back end
            web development and would like to eventually gain experience in Android development.
            I started out studying Biochemistry but found my passion in software development. I have 
            passion for learning and an eagerness to apply my knowledge in the real world. </p>
        </div>
      </div>
</div>
