<div class="container">
    <div data-aos="fade-up">
        <h1 class="display-4"><img src="../../assets/skills.svg" alt="skill icon" width="90px" /> Technical Skills</h1>
    </div>
    <hr>
    <div class="row" data-aos="zoom-in" data-aos-duration="1500">
        <h3 class="bold">I have experience in the following:</h3>
        <div class="col">
            <ul class="lead">
                <li>Java</li>
                <li>HTML, CSS, JavaScript</li>
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>Spring Boot</li>
                <li>SQL</li>
                <li>AWS EC2, S3, and RDS</li>
                <li>Windows and Linux OS</li>
            </ul>
        </div>
    </div>
</div>