<div class="container">
    <h1 class="display-4"><img src="../../assets/idea.svg" alt="light bulb icon" width="70px" /> Projects</h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <a href="/parklandpreschoolproject"><img src="../../assets/pp_home.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Parkland Preschool</h5>
                    <p class="card-text">Web-based registration and payment system implemented as a Java Web Applicaiton
                        for a preschool</p>
                    <button (click)="goToPreschoolProject()">See details</button>
                    <a class="right m-5" href="https://www.parklandpreschool.live/" target="_blank">Visit Site</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 30rem;">
                <a href="/homeinventoryapp"><img src="../../assets/nventory_home.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Home Nventory</h5>
                    <p class="card-text">Web-based application for storing home inventory built with Angular and Spring
                        Boot API
                    </p>
                    <button (click)="goToInventoryApp()" class="m-4">See details</button>
                    <a class="right m-5" href="http://www.homenventory.tk/home" target="_blank">Visit Site</a>
                </div>
            </div>
        </div>

    </div>
</div>