div.card {
    margin-top: 30px;
}

div.container {
    background: url(../../assets/projects.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
