div.card {
    margin-top: 30px;
}

div.container {
    background: url(../../assets/projects.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

a.btn {
    border: 0px;
    background-color: #11b8a4;
    padding: 20px;
    color: white;
    margin: 20px;
}