<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class="display-6">Hi there, I'm Jean and I am a</h3>
      <h1 class="display-4">Software Developer</h1>

      <img src="../../assets/email.svg" alt="location icon" /> jeanlomibao18@gmail.com
      <img src="../../assets/location.svg" alt="location icon" /> Calgary, Alberta
    </div>
  </div>

    <div class="next-btn">
      <a href="/home#aboutme" class="next-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
          class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
        </svg>
      </a>
    </div>

</div>