div.container {
    background: url(../../assets/typing.svg);
    background-size: cover;
    background-position: center center;
}

h1 {
    color: #11b8a4;
    font-weight: bold;
}

div.row{
    padding: 10px;
}
