<div class="container mb-5"  data-aos="fade-up" data-aos-anchor-placement="top-center">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md">
      <h1 class="display-6" data-aos="fade-right" data-aos-duration="1500">Hi, I'm Jean. I'm a </h1>
      <h1 class="display-4" data-aos="zoom-in-up" data-aos-duration="1500">Software Developer.</h1>
    </div>
  </div>

  <div class="row" data-aos="fade-up" data-aos-duration="1500">
    <div class="col"></div>
    <div class="col-md">
      <img src="../../assets/email.svg" alt="location icon" /> jeanlomibao18@gmail.com
    </div>
  </div>

  <div class="row" data-aos="fade-up" data-aos-duration="1500">
    <div class="col"></div>
    <div class="col-md">
      <img src="../../assets/location.svg" alt="location icon" /> Calgary, Alberta
    </div>
  </div>

</div>