div.container {
    background: url(../../assets/typing.svg);
    background-size: cover;
    padding: 10%;
    height: 100vh;
}

div.next-btn {
    position: absolute;
    bottom: 0;
    left: 55%;
}