h4 {
    margin: 30px;
}

h3 {
    padding: 0;
}

div.container {
    background: url(../../assets/city.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.text {
    background-color: rgba(227, 240, 241, 0.836);
}

a.btn {
    border: 0px;
    background-color: #11b8a4;
    padding: 20px;
    color: white;
    margin: 20px;
}
