h4 {
    margin: 20px;
}

div.carousel {
    padding: 50px;
}

div.container {
    background: url(../../assets/city.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.row {
    padding: 10px;
}