<div class="container mt-3">
  <div class="text p-4" data-aos="zoom-in" data-aos-duration="1500">
    <h2 class="display-5">Parkland Preschool Project</h2>
    <hr>
    <div class="row">
      <div class="col">
        <p class="lead">
          The Parkland Preschool website is a web-based service that allows users to access information and manage
          registration
          options related to students who are or may be attending Parkland Preschool. The website is intended to provide
          guardians with a modern
          enrollment experience and to eliminate the administrative overhead caused by maintaining a hardcopy system.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="display-6">System Specifications</h3>
        <ul>
          <li>Back end implemented as Spring Boot Application</li>
          <li>MySQL Database</li>
          <li>Front end built with Angular 2</li>
          <li>Payment processing integrated with Paypal REST SDK</li>
          <li>Development done through IntelliJ</li>
          <li>Deployed through AWS EC2</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="display-6">Functions</h3>
        <ul>
          <li>Manage Registrations</li>
          <li>Manage Classes</li>
          <li>Manage Payment Records</li>
          <li>Register Child to a Class</li>
          <li>Process Payment</li>
        </ul>
      </div>
    </div>

    <div class="row"> 
      <div class="col">
        <h3><a class="btn btn-outline-dark" href="https://registrationportal.parklandpreschool.com/" target="_blank">Website</a></h3>
      </div>
    </div>
  </div>
</div>